<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let tarefa of tarefas">
      <ion-checkbox slot="start" [(ngModel)]="tarefa.concluida"></ion-checkbox>
      <ion-label>{{ tarefa.nome }}</ion-label>
      <ion-button slot="end" (click)="excluirTarefa(tarefa)">Excluir</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="adicionarTarefa()">Adicionar Tarefa</ion-button>
</ion-content>